<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>

<div class="detail">
    <h4>상세페이지</h4>
    <img src="https://placehold.co/300">
    <h4 th:text="${detail.title}">품목</h4>
    <p th:text="${detail.price}">가격</p>
</div>

<form action="/order" method="POST">
    <input name="itemName" th:value="${detail.title}" style="display : none">
    <input name="price" th:value="${detail.price}" style="display : none">
    <input name="count" placeholder="주문수량">

    <button type="submit">주문</button>
</form>

<h4>댓글</h4>
<form action="/comment" method="POST">
    <input name="content">
    <input name="parent" th:value="${detail.id}" style="display : none">
    <button type="submit">전송</button>
</form>
<div th:each="i : ${comments}">
    <span th:text="${i.username}"></span>
    <span > : </span>
    <span th:text="${i.content}"></span>
</div>

</body>
</html>