<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>

<div class="edit">
    <!--<form th:action="@{'/edit/' + ${data.id}}" method="POST">-->
    <form action="/edit" method="POST">
        <input name="id" th:value="${data.id}" style="display:none">
        <input name="title" th:value="${data.title}">
        <input name="price" th:value="${data.price}">
        <button type="submit">수정</button>
    </form>
</div>

</body>
</html>